## Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.vc.db
*.vc.opendb

## Build outputs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Files built by Visual Studio
*.exe
*.dll
*.pdb
*.exp
*.ilk
*.lib
*.vsix

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## SQL Server files
*.mdf
*.ldf

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Postman collection (but not ours)
postman/  # <-


## Rider
.idea/
*.sln.iml

## VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## macOS
.DS_Store
